# Setup files to be ignored
installers/

# Python bytecode
*.pyc

# Text files (usually notes on python things)
*.txt

# Temporary folder for test files
temp/
mdwtools/
mdwtools
.ipynb_checkpoints/
.ipynb_checkpoints

# Random files to ignore (no idea where it came from)
core
